src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:jobvite="http://www.mulesoft.org/schema/mule/jobvite"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jobvite http://www.mulesoft.org/schema/mule/jobvite/1.0/mule-jobvite.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
    <data-mapper:config name="List_WorkerType__To_List_Case_" transformationGraphPath="list_workertype__to_list_case_.grf" doc:name="List_WorkerType__To_List_Case_"/>


	<flow name="triggerFlow" processingStrategy="synchronous" doc:name="triggerFlow" >	
		<poll doc:name="fireup Worker synchronization">
		<fixed-frequency-scheduler frequency="${poll.frequencyMillis}"
			startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.default.expression}"
				update-expression="#[ new java.util.Date()]" />
			<processor-chain doc:name="query Workers">
			<logger message="Fetching Workday updates...#[flowVars['lastQueryDate']]" level="INFO" doc:name="log 'Fetching workday updates...'"/>
			<wd-hr:get-workers config-ref="WorkdayHumanResource"
				doc:name="get Workers from Workday Human Resource"
				workersRequest-ref="#[org.mule.kicks.WorkersRequest.create(lastQueryDate, ${poll.frequencyMillis}, ${poll.offset})]"></wd-hr:get-workers>

			</processor-chain>
		</poll>
		<expression-filter expression="#[payload.responseData != null]" doc:name="Filter only non-empty data"/>
		<set-payload value="#[payload.responseData.worker]" doc:name="Set payload to worker data"/>

		<batch:execute name="businessLogicBatch1" doc:name="Batch Execute"/>
	</flow>
</mule>